{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<div class="collection-hero sb-collection-hero color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %}">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      <p class="sb-section-heading__eyebrow">Collection</p>
      <h1 class="collection-hero__title">{{ collection.title | escape }}</h1>
      {% if section.settings.show_collection_description and collection.description != blank %}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {% endif %}
    </div>

    {% if section.settings.show_collection_image and collection.image %}
      <div class="collection-hero__image-container media gradient">
        {{ collection.image | image_url: width: 1400 | image_tag: widths: '320, 480, 720, 960, 1200, 1400', sizes: '(min-width: 990px) 32vw, 100vw', loading: 'lazy', alt: collection.image.alt | default: collection.title | escape }}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
